@{
    ViewData["Title"] = "Index";
}

<head>
</head>
<body>
    <header>
        <img src="~/img/Logo FNAF.png">
        <h1>Freddy Fazbear's</h1>
    </header>

    <a href='@Url.Action("Tutorial")'>Tutorial del Escape Room</a>
</body>