<section class="Fondo">
    <a href='@Url.Action("IrASala", "Home", new{numeroSala="1"})'>
        <div class="Oficina">
            <b>Office</b>
        </div>
    </a>

    <a href='@Url.Action("IrASala", "Home", new{numeroSala="4"})'>
        <div class="Hall2">
            <b>Hall 2</b>
        </div>
    </a>

    <a href='@Url.Action("IrASala", "Home", new{numeroSala="2"})'>
        <div class="KidsCove">
            <b>Kids Cove</b>
        </div>
    </a>

    <a href='@Url.Action("IrASala", "Home", new{numeroSala="3"})'>
        <div class="PartyRoom1">
            <b>Party Room 1</b>
        </div>
    </a>
    
</div>