<section class="Fondo">
    <a href='@Url.Action("IrASala", "Home", new{numeroSala="1"})'>
        <div class="Oficina">
            <b>Office</b>
        </div>
    </a>

    <a href='@Url.Action("IrASala", "Home", new{numeroSala="2"})'>
        <div class="Hall2">
            <b>Hall 2</b>
        </div>
    </a>
</div>