<body class="progreso">
    @for(int i=0; i < Escape.salasEscapadas.Length; i++){
        if(i > 0){
            <p>Sala @(i): @if(Escape.salasEscapadas[i] == false){<p class="NoEscapo">No escapo aún</p>}else{<p class="Escapo">Escapó!</p>}<br></p>
        }
    }
</body>